// -------------colors ------------//
$white:          #ffffff;
$light:          #f7f7f7;
$light100:       #E6E6E6;
$dark:           #191919;
$dark100:        #2e2e2e;
$dark200:        #5D5D5D;;
$dark300:        #D8D8D8;;
$primary:        #1a62f5;
$secondary:      #181818;
$gray:           #a7a7a7;
$gray200:        lighten($gray, 5%);
$transparent:    transparent;
